.main {
  background-color: #f4f5f5;
  .tags {
    height: 45px;
    width: calc(100% - 18px);
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    & > ul {
      width: 960px;
      display: flex;
      align-items: center;
      & > li {
        cursor: pointer;
        padding-right: 12px;
        &.active,
        &:hover {
          color: #007fff;
        }

        & ~ li {
          padding: 0 12px;
        }
      }
    }
  }
  .article-list {
    width: 960px;
    margin: auto;
    height: 100%;
    padding-top: 57px;
    display: flex;
    justify-content: space-between;
    &>ul {
      width: calc(100% - 257px);
      background: #ffffff;
      min-height: calc(100vh - 57px);
      &>li {
        position: relative;
        cursor: pointer;
        padding: 12px 20px 0;
        &:hover {
          background-color: #fafafa;
        }
        .title {
          width: 100%;
          font-size: 18px;
          color: #1d2129;
          line-height: 24px;
          font-weight: 600;
        }
        .article-main{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e5e6eb;
        } 
        .tags-item{
          margin-top: 8px;
          font-size: 14px;
          span~span {
            margin-left: 8px;
          }
        }
        .left-count{
          width: calc(100% - 138px);
        }
        .create_time{
          margin-top: 8px;
          font-size: 14px;
        }
        .brief_content{
          width: 100%;
          margin-top: 8px;
        }
        .cover_image {
          img{
            width: 120px;
            height: 80px;
            margin-left: 18px;
            margin-bottom: 8px;
          }
        }
      }
    }
    &>div {
      width: 245px;
      background: #f0f;
    }
  }
}
